/***********************
Home Page
***********************/
.home-sidebar{
    width: 20%;
    border-top: 1px solid #DEDEDE;
    padding:30px;
    background: grey;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}
.home-sidebar h1{
    text-align: left;
    color: #4A4A4A;
    font-size: 2.2em;
}


.home-chatbox{
    width: 80%;
    background: red;
    margin: 0 auto;
}
.home-chat-list {
    margin:10px;
    font-size: 1.5em;
}

ul {
    
}
