<div class="row home-page">
   <div class="home-sidebar col-xs-3">

            <h2>Bloc Chat</h2>
            <button type="button" class="btn btn-default" 
                    ng-click="open()">
                    Create chat
                </button>
                
        <ul>
            <li class="home-chat-list" 
            ng-repeat="room in rooms track by $index" ng-click="changeChat(room)">
                <span >{{ room.$value }}</span> <span class="ion-android-close" ng-click="delete($index)"></span>
            </li>
        </ul>
    </div>
    
    <div class="home-chatbox col-xs-9">
       <h2>
           {{ currentRoom.$value }} 
       </h2>
       <main>
           <table class="table">
               <tr ng-repeat="message in messages">
                   <td><strong>{{message.username}}</strong></td>
                   <td>{{message.content}}</td>
               </tr>
           </table>
       </main>
        <div class="message-input">
           <input type="text" class="input-lg" placeholder="Enter message here" ng-model="newMessage"><button class="btn btn-primary btn-lg message-btn" ng-click="sendMessage()">Send</button>
       </div>
    </div>
</div>

